/__pycache__
/__pycache__/*
/images/*
/mazes
/mazes/*
/useless
/useless/*
/tmp_game
/tmp_game/*
FunctionApprox_Lecture.pdf
sentdex.py
/q_learning/__pycache__
/q_learning/__pycache__/*
/q_learning/basis/__pycache__/
/q_learning/images/*
/q_learning/q_tables/*
/q_learning/q_weights/*
/q_learning/q_learning_run.py